parte1/xml/test2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- XML Schema generated by QTAssistant/XSD Module (http://www.paschidev.com) -->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Fleet" type="FleetType">
        <xs:key name="PK_Cars">
            <xs:selector xpath="Car"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="PK_Trucks">
            <xs:selector xpath="Truck"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="PK_Trailers">
            <xs:selector xpath="Trailer"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="PK_TrailerTruck">
            <xs:selector xpath="TrailerTruck"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="FK_TrailerTruck2Trailers" refer="PK_Trailers">
            <xs:selector xpath="TrailerTruck/Trailer"/>
            <xs:field xpath="@refid"/>
        </xs:keyref>
        <xs:keyref name="FK_TrailerTruck2Cars" refer="PK_Cars">
            <xs:selector xpath="TrailerTruck/Car"/>
            <xs:field xpath="@refid"/>
        </xs:keyref>
        <xs:keyref name="FK_TrailerTruck2Trucks" refer="PK_Trucks">
            <xs:selector xpath="TrailerTruck/Truck"/>
            <xs:field xpath="@refid"/>
        </xs:keyref>
    </xs:element>
    <xs:complexType name="FleetType">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="Car"/>
            <xs:element ref="Truck"/>
            <xs:element ref="Trailer"/>
            <xs:element ref="TrailerTruck"/>
        </xs:choice>
        <xs:attribute name="shipperName" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="VehicleType" abstract="true">
        <xs:sequence minOccurs="0">
            <xs:element name="plate" type="xs:string" minOccurs="1"/>
            <xs:element name="mark" type="xs:string" minOccurs="1"/>
            <xs:element name="model" type="xs:string" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- SimpleVehicle and ComplexVehicle -->
    <xs:complexType name="SimpleVehicle">
        <xs:complexContent>
            <xs:extension base="VehicleType">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComplexVehicle">
        <xs:complexContent>
            <xs:extension base="VehicleType">
                <xs:attribute name="refid" type="xs:IDREF"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Car, Truck, Trailer -->
    <xs:element name="Car" type="SimpleVehicle"/>
    <xs:element name="Truck" type="SimpleVehicle"/>
    <xs:element name="Trailer" type="SimpleVehicle"/>
    <!-- TrailerTruck -->
    <xs:group name="DrivingPart">
        <xs:choice>
            <xs:element name="Car" type="ComplexVehicle"/>
<!--            <xs:element name="Van" type="ComplexVehicle"/>-->
            <xs:element name="Truck" type="ComplexVehicle"/>
        </xs:choice>
    </xs:group>
    <xs:element name="TrailerTruck">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="DrivingPart" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Trailer" type="ComplexVehicle" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>
</xs:schema>